header {
  justify-content: center;
  align-items: center;
  border-bottom: 5px double black;
}

.site-logo {
  width: 4.1vw;
  margin-top: 10px;
}

.category-button {
  font-size: 2.5vw;
  margin: 5px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  border: 1px solid transparent;
}

.category-button:hover {
  border: 1px solid black
}

main {
  height: 80vh;
}

.home-logo {
  height: 5vh;
}

.return-home-button {
  text-decoration: none;
  color: black;
}

.title {
  align-items: center;
  font-size: 4.1vw;
  font-style: italic;
  margin: 20px;
}