.article-image {
  height: 45%;
  /* width: 25vw; */
}

.article-description {
  font-size: 1.2vw;
  padding: 5px;
}

.article-title {
  font-size: 1.2vw;
  padding: 5px;
}

a {
  text-decoration: none;
  color: black;
}

.published-time {
  font-size: 1.2vw;
}

.large-article-container {
  display: flex;  
  flex-wrap: wrap;
  margin: 20px;
  justify-content: center;
}

.article-container {
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  cursor: pointer;
  border: 5px solid black;
  width: 25vw;
  margin: 20px;
}

.info-container {
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: space-between;
}